<h2>You searched for {{query}}</h2>
<form {{action search on="submit"}} class="form-inline">
  {{input type="text" value=q}}
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="row">
  {{#each photo in result}}
  <div class="col-sm-6 col-md-4">
    {{#link-to 'photo' photo.id}}
    <div class="thumbnail">
      <img {{bind-attr src="photo.thumb"}}/>
      <div class="caption">
        {{photo.title}}
        {{photo.width}}x{{photo.height}}
      </div>
    </div>
    {{/link-to}}
  </div>
  {{/each}}
</div>
