<script type="text/x-handlebars" data-template-name="photo">
<h1>{{photo.title}}</h1>
<div {{bind-attr id="photo.id" }} class="large">
<img {{bind-attr src="photo.large"}}/>
</div>
<div class="description">{{{info.description}}}</div>
<ul>
{{#each tag in info.tags}}
<li>{{tag.text}}</li>
{{/each}}
</ul>
</script>
